
/* Light blue/light-blue-100 */
background: #F3F5FC;
}

.vector{
    /* Vector */

position: absolute;
left: 36.67%;
right: 37.43%;
top: 0%;
bottom: 0%;

}

.frame5{
/* Frame 5 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
width: 336px;
height: 122px;
left: 980px;
top: 619px;



}
.decodifi1{
/* Ningún mensaje fue encontrado */

width: 336px;
height: 58px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;

/* or 29px */
text-align: center;

/* Gray/gray-500 */
color: #343A40;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.codifi1{
/* Ingresa el texto que desees encriptar o desencriptar. */

width: 336px;
height: 48px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;

/* or 24px */
text-align: center;

/* Gray/gray-400 */
color: #495057;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.muneco{
    /* Muñeco */

position: absolute;
width: 336px;
height: 304px;
left: 980px;
top: 283px;
}

.frame1{
/* Frame 1 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 229px;
height: 18px;
left: 240px;
top: 851px;


}
.circlefill{
    /* bi:exclamation-circle-fill */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.advert{
    width: 228px;
    height: 18px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    
    /* identical to box height, or 18px */
    
    /* Gray/gray-400 */
    color: #495057;
    
    opacity: 0.8;
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    

}

.frame3{
    /* Frame 3 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: absolute;
width: 680px;
height: 67px;
left: 240px;
top: 885px;

}

.encriptar{
    /* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

width: 328px;
height: 67px;

/* Dark blue/dark-blue-300 */
background: #0A3871;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Button */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #FFFFFF;
}

.desencripta{
    /* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

width: 328px;
height: 67px;

/* Light gray */
background: #D8DFE8;

/* Dark blue/dark-blue-300 */
border: 1px solid #0A3871;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* Dark blue/dark-blue-300 */
color: #0A3871;
}

.salida{
    position: absolute;
    width: 336px;
    height: 781px;
    left: 980px;
    top: 72px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    
    /* or 36px */
    
    /* Gray/gray-400 */
    color: #495057;
}

.entrada{
/* Ingrese el texto aqui */
position: absolute;
width: 680px;
height: 288px;
left: 240px;
top: 168px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;

/* or 48px */

color: #0A3871;



}

.copiado{
    box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

position: absolute;
width: 336px;
height: 67px;
left: 980px;
top: 885px;

/* Dark blue/dark-blue-300 */
border: 1px solid #0A3871;
border-radius: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
}
